body {
    color: #666;
    max-width: 600px;
    margin: auto;
    background: #8f7256;
}

#base {
    background: #fdf0e4;
    height: 31px;
}

#base img {
    margin-bottom: -6px;
}

.back-link {
    color: #8f7256;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    background: #f4e4d3;
    width: 60%;
    margin: 0 auto;
    padding: 5px;
}

.back-link:hover {
    background: #d09356;
    color: #fff;
}

.logout-link {
    font-weight: bold;
    color: #eee;
}

a {
    text-decoration: none;
}

th {
    text-align: left;
}
.floatrt { float: right; }
.floatlt { float: left; }
#container {
    color: #222;
    background: snow;
    width: 100%;
    margin-top: 70px;
    box-shadow: 12px 0 15px -4px #a68e76 inset, -12px 0 15px -4px #a68e76 inset;
}

#content {
    padding: 30px 10px 10px 10px;
    margin: 35px 20px 0 20px;
    background: #fdf0e4;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.home-para {
    margin-top: 15px;
    margin-bottom: 20px;
}
.home-para table {
    margin: auto;
}
.welcome-img {
    max-width: 400px;
    text-align: center;
}
.welcome-img img {
    width: 80%;
    box-shadow: 0 5px 15px 0 #666 !important;
}
.welcome {
    color: #666;
    padding: 5px;
    text-align: center;
}
.login-message {
    font-size: 12px;
    text-align: center;
    clear: both;
}

#header {
    background: url('/static/images/hd-bg1.png') 0 bottom repeat-x transparent;
    max-width: 600px;
    width: 100%;
    height: 95px;
    top: 0px;
    position: absolute;
    filter: drop-shadow(1px 1px 6px #a68e76);
    padding: 46px 0 0 0;
    font-size: 80%;
    color: #d09356;
    font-weight: bold;
    letter-spacing: 15px;
    text-align: center;
}

#footer {
    background: #aaa;
    color: #000;
    border-top: 4px solid #d09356;
    padding: 20px 0 0 0;
}

.footerdiv {
    text-align: center;
    font-size: 11px;
    width: 100%;
}

.newsbox {
    padding: 5px;
    background: #fee1c1;
    text-align: justify;
}

.newsbox img {
    padding: 5px;
    border: 1px solid #e3c8ae;
    background: #fff;
    width: 100%;
}

.newsbody {
    padding: 0px 10px 0px 10px;
}

/* article author styles */
.rightalign {
    text-align: right;
    margin: 0;
    padding: 0 10px 0 0;
    width: 100%;
}

.small{
    font-size: 80%;
}
.tiny{
    font-size: 50%;
}

.page-title {
    color: #fff;
    font-size: 24px;
    background: #cfa57c;
    padding: 5px;
    text-align: left;
    margin-bottom: 5px;
}

.page-sub-title {
    color: #fff;
    font-size: 24px;
    background: #cfa57c;
    padding: 5px;
    text-align: left;
    margin-bottom: 5px;
}

.article-title {
    color: #fff;
    font-size: 20px;
    background: #cfa57c;
    padding: 5px;
    text-align: left;
    margin-bottom: 5px;
}

#home_menu {
    text-align: center;
}

.home-menu-item {
    color: #8f7256;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    background: #f4e4d3;
    width: 30%;
    margin: 5px;
    display: inline-block;
    box-shadow: 0 2px 4px 0 #a68e76,0 2px 10px 0 #a68e76 !important;
}

.home-menu-item:hover {
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    background: #d09356;
    width: 30%;
    margin: 5px;
    display: inline-block;
}

.news-list-item {
    color: #8f7256;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
    text-align: left;
    margin-bottom: 5px;
    background: #f4e4d3;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}

.news-list-item:hover {
    background: #d09356;
    color: #fff;
}

.back-button{
    color: #8f7256;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;
    background: #f4e4d3;
}

/* gallery styles */
.gallery-by {
    color: #8f7256;
    text-align: right;
    font-size: 11px;
}

.photo-caption {
    color: #8f7256;
    font-size: 14px;
}

.prev-next {
    text-align: center;
    width: 100%;
    margin-bottom:20px;
    padding: 14px;
}

.prev-next span.scrollbutton {
    color: #8f7256;
    font-weight: bold;
    background: #e3c8ae;
    padding: 5px 10px;
    font-size: 12px;
}

.prev-next a.left {
    border-radius: 10px 3px 3px 10px;
}

.prev-next a.right {
    border-radius: 3px 10px 10px 3px;
}
/* gallery styles */

/* tree styles */
.gen1 { background: #fff; padding: 5px; }
.gen2 { background: #fff; padding: 5px; }
.gen3 { background: #fff; padding: 5px; }
.gen4 { background: #fff; padding: 5px; }
.gen5 { background: #fff; padding: 5px; }
.gen6 { background: #fff; padding: 5px; }
.gen {  }

.gen1-conn { border-bottom: 2px solid: #fff; }
.gen2-conn { border-bottom: 2px solid #fff;}
.gen3-conn { border-bottom: 2px solid #fff;}
.gen4-conn { border-bottom: 2px solid #fff;}
.gen5-conn { border-bottom: 2px solid #fff;}
.gen6-conn { color: #eee; }

.node {
    font-size: 16px;
    background: #ecd0b4;
    padding: 7px 2px 7px 5px;
    font-size: 16px;
}

.node-connector {
    padding: 18px 1px 2px 1px;
}

.node-span { 
    width: 50%; 
    display: inline;
    min-width: 50%;
    cursor: pointer;
}

.node-container {
    box-shadow: 0 2px 4px 0 #a68e76,0 2px 10px 0 #a68e76 !important;
}

#photo_popup {
    background: #eee;
    position: absolute;
    z-index: 9999;
    max-width: 90%;
    border: 1px solid gold;
}

#photo_popup_title {
    padding: 5px;
    float: left;
    vertical-align: middle;
    width: 100%;
}

#photo_popup_body {
    background: #eee;
    text-align:center;
    margin: 10px;
}

#photo_popup_close {
    float: right;
    border: 1px solid gold;
    background: #eee;
    padding: 2px 1px;
    color: burlywood;
    font-weight: bold;
    border-radius: 18px;
    cursor: pointer;
}

#photo_popup_image {
    max-width: 300px;
    filter: drop-shadow(1px 1px 6px #a68e76);
}

#popup_image{
    cursor: pointer;
}

#popup {
    border: 3px solid #e8b17b;
    border-radius: 6px;
    background: url('/static/images/page-bg.png') 0 top no-repeat #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 999;    
    filter: drop-shadow(1px 1px 6px #a68e76);
}

#popup_title {
    background: #e8b17b;
    padding: 5px;
    float: left;
    vertical-align: middle;
    width: 100%;
}

#popup_title_text {
    display: inline-block;
    margin-top: 6px;
}

#popup_body {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align:center;
}

#popup_close {
    float: right;
    border: 1px solid #e3c8ae;
    background: #f4e4d3;
    padding: 3px;
    color: #8f7256;
    font-weight: bold;
    margin-left: 20px;
    cursor: pointer;
}

#member_image {
    cursor: pointer;
}

.children-title{
    text-align: left;
    font-weight: bold;
    font-size: 12px;
}

ul.children-list {
    text-align: left;
    font-size: 12px;
}

.other-details {
    font-size: 12px;
}

.other-details td {
    text-align: left;
    vertical-align: top;
}

.other-details p {
    font-size: 11px;
    margin: 0;
    box-sizing: 0px !important;
}

ul {
    margin-top: 5px;
}
/* tree styles */

#loader {
    width: 50px;
    z-index: 99;
    height: 50px;
}

ul.errorlist {
    padding: 0;
    margin: 5px 0 0 0;
    list-style: none;
}

.errorlist {
    color: crimson;
    background: snow;
    padding:10px;
    margin: 5px 0;
}

}
#dob {
    margin: auto;
}

.month{
    font-size: 14px;
    padding-left: 10px;
    border-top: 1px dotted #e3c8ae;
    font-weight: bold;
}

.dob-name{
    text-align: center;
    font-size: 12px;
}

.dob-day {
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    vertical-align: top;
    padding: 5px 10px;
}

#dob td.current-month {
    background: #ecd0b4;
}


.birthday {
    font-size: 12px;
    text-align: center;
    background: snow;
    color: crimson;
    font-weight: bold;
}

#dob tr {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}

#blood_table {
    margin: auto;
    width: 80%;
}

#blood_table tr {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}

.con-td {
    width: 50%;
}

.blood-td {
    width: 50%;
}

.con-td p{
    margin: 0;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

.role {
    font-size: 10px;
}

.address {
    font-size: 10px;
    margin-top: 5px;
    padding: 3px;
    background: snow;
}

.email {
    font-size: 10px;
    margin-top: 5px;
    background: #f1e5d8;
    padding: 3px;
}

.blood {
    background: orange;
}

#blood {
    font-size: 9px;
    width: 50%;
    margin: 10px auto;
    border: 1px solid orange;
    padding: 10px;
}

.opos {
    background: url('/static/images/opos.png') 0 top repeat-x transparent;
}
.bpos {
    background: url('/static/images/bpos.png') 0 top repeat-x transparent;
}
.apos {
    background: url('/static/images/apos.png') 0 top repeat-x transparent;
}
.abpos {
    background: url('/static/images/abpos.png') 0 top repeat-x transparent;
}

.oneg {
    background: url('/static/images/oneg.png') 0 top repeat-x transparent;
}
.bneg {
    background: url('/static/images/bneg.png') 0 top repeat-x transparent;
}
.aneg {
    background: url('/static/images/aneg.png') 0 top repeat-x transparent;
}
.abneg {
    background: url('/static/images/abneg.png') 0 top repeat-x transparent;
}

table#members tr {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}

#members {
    margin: auto;
    width: 100%;
}

#members th, #members td {
    font-size: 14px;
    padding: 5px;
    vertical-align: middle;
}

.alpha {
    text-align:center;
}
.alpha-link {
    color: #8f7256;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    background: #f4e4d3;
    margin: 5px auto;
    padding: 5px;
    display: inline-block;
    width: 36px;
    cursor: pointer;
}

.alpha-link:hover {
    background: #d09356;
    color: #fff;
    cursor: pointer;
}



#calendar {
    width: 100%;
}

.cal-day {
    background: snow;
    padding: 2px;
    font-size: 9px;
    font-weight: bold;
    vertical-align: top;
    width: 14%;
}

.cal-mem {
    font-size: 95%;
    text-align: center;
    font-weight: normal; 
}

.cal-weekday {
    text-align: center;
}

.blank {
    clear: both;
}


.month-link {
    color: #8f7256;
    text-decoration: none;
    font-size: 9px;
    text-align: center;
    background: #f4e4d3;
    margin: 5px 10px;
    padding: 5px 7px;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
}

.month-link:hover {
    background: #d09356;
    color: #fff;
    cursor: pointer;
}

.selected {
    background: #d09356;
}

.current-month {
    background: snow;
}

.success {
    padding: 5px;
    color: green;
    background: lightgreen;
}

textarea {
    width: 90%;
    border: 1px solid #e1c1a2;
}

.right {
    text-align: right;
}

.full {
    width: 100%;
}

input[type="file"] {
    display: none;
}

label[for="id_picture"] {
    border: 1px solid #e1c1a2;
    text-decoration: none;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background: #f4e4d3;
    font-size: 9px;
}

input[type="submit"], #add_close, #add_button {
    border: 1px solid #e1c1a2;
    text-decoration: none;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background: #f4e4d3;
    font-size: 11px;
    font-weight: bold;
}

input[type="text"] {
    border: 1px solid #e1c1a2;
}
input[type="password"] {
    border: 1px solid #e1c1a2;
}

#family {
    font-size: 11px;
    margin: auto;
}
#family td{
    vertical-align: top;
    background: snow;
    filter: drop-shadow(1px 1px 6px #a68e76);
    padding: 5px;
}
#family p{
    margin: 0;
    padding: 0;
}

.link {
    cursor: pointer;
}

.message-box {
    color: #8f7256;
    text-decoration: none;
    font-size: 16px;
    padding: 5px;
    text-align: left;
    margin-bottom: 5px;
    background: #f4e4d3;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}
.message-box hr, .message-box p{
    margin: 2px;
}

#add_form{
    border: 1px solid #cfa57c;
    marin: 15px;
    background: snow;
}

#id_title, #id_subject, #id_name {
    width: 100%;
}

#id_body {
    rows: 12;
    width: 100%;
    min-height: 120px;
}

#add_row {
    margin: 12px 0;
}

.name-option {
    background: snow;
    padding: 3px;
    margin: 5px;
    border: 1px solid #cfa57c;
    cursor: pointer;
}

.small-link {
    color: #8f7256;
    text-decoration: none;
    font-size: 9px;
    text-align: center;
    background: #f4e4d3;
    padding: 5px 7px;
    display: inline-block;
    cursor: pointer;
    margin-top: 3px;
}