{% extends "main/layout.html" %}

{% block content %}
    <div class="article-title">About the site</div>
    <div class="newsbox">
        <p class="newsbody">
            This web application is developed using Python/Django.
            The site is hosted on goDaddy.com <br><br>

            It is designed to be viewed primarily on mobile devices.
            So, on computer screens, the site will appear like a narrow vertical band.
            In future, we will have a version for computer screens also.<br><br>

            Your suggestions are most welcome. Please send them to the admin using the feedback form. <br><br>
        </p>

        {% if location %}Your location: {{location.city}} {{location.country_name}}{% endif %}

    </div>
{% endblock %}

{% block bottom-link %}
    <a href="/"><div class="back-link">Back to Home</div></a>
{% endblock %}
