{% extends "main/layout.html" %}

{% block content %}
    <div class="article-title">{{ article.title }}</div>
    <div class="newsbox">
        <p class="newsbody">
            {% if article.picture %}
                <img src="{{ article.picture.url }}" width="200px" alt="{{ article.picture.url }}"/><br>
            {% endif %}
            {{ article.body|safe }}
        </p>
    </div>
{% endblock %}

{% block bottom-link %}
    {% if article.home_page %}
        <a href="/"><div class="back-link">Back to Home</div></a>
    {% else %}
        <a href="{% url 'articles' %}"><div class="back-link">Back to Articles</div></a>
    {% endif %}
{% endblock %}