{% extends "main/layout.html" %}

{% block content %}
    <div class="page-title">Articles</div>
    {% for article in articles %}
        <a href="{% url 'article' article.id %}">
            <div class="news-list-item">{{ article.title }}</div>
        </a>
    {% empty %}
        <div class="newsbox">
            <p class="newsbody">
                <br>The list of articles published by the members will appear here.<br>
                <br>
                If you have an article to publish, please click the feedback link on the footer.
                <br>
            </p>
        </div>
    {% endfor %}
{% endblock %}

{% block bottom-link %}
    <a href="/"><div class="back-link">Back to Home</div></a>
{% endblock %}