{% extends "main/layout.html" %}

{% block content %}
    <div class="article-title">Birthdays {{current_year}}</div>

    <div class="alpha">
        {% for k,v in months.items %}
            <a href="{% url 'births' k %}">
                <span class="month-link {% if selected == k %}selected{% else %}{% if k == current_month %} current-month {% endif %}{% endif %}">
                    {{v|date:"M"}}
                </span>
            </a>
        {% endfor %}
        <a href="{% url 'births' 'all' %}">
            <span class="month-link {% if selected == 'all' %}selected{% endif%}">All</span>
        </a>
    </div>

    {% if calendar %}
        <table id="calendar">
            <tr>
                <td colspan="7">{{ start|date:"M Y" }}</td>
            </tr>
            <tr>
                <td class="cal-day cal-weekday">SUN</td>
                <td class="cal-day cal-weekday">MON</td>
                <td class="cal-day cal-weekday">TUE</td>
                <td class="cal-day cal-weekday">WED</td>
                <td class="cal-day cal-weekday">THU</td>
                <td class="cal-day cal-weekday">FRI</td>
                <td class="cal-day cal-weekday">SAT</td>
            </tr>
            <tr>
                {% for day, members in calendar %}
                    {% if forloop.counter == 1 %}
                        {% for i in empty_days %}
                            <td class="cal-empty"></td>
                        {% endfor %}
                    {% endif %}
                    <td class="cal-day">
                        {{ day|date:"d" }}
                        {% for member in members %}
                            <div class=cal-mem>
                                <img src="/media/{{ member.icon }}" width="40px;">
                                <br>{{ member.nick_name }}
                            </div>
                        {% endfor %}
                    </td>
                    {% if day.weekday == 5 %}
                        </tr><tr>
                    {% endif %}
                {% endfor %}
            </tr>
        </table>
    {% else %}

        Showing All

        <table id="dob" cellspacing="10">
            {% regroup members by dob_monthname as grouped %}
            {% for group in grouped %}
                <tr>
                    <td colspan="3" class="month {% if current_month == group.grouper %}current-month{% endif %}">
                        {{ group.grouper }}
                    </td>
                </tr>
                {% for member in group.list %}
                    <tr>
                        <td class="dob-day {% if current_month == group.grouper %}current-month{% endif %}">
                            {{ member.date_of_birth|date:"d" }}
                        </td>
                        <td class="dob-name {% if current_month == group.grouper %}current-month{% endif %}">
                            <img src="/media/{{ member.icon }}"><br>
                            <span class="bold">{{ member.nick_name }}</span><br>
                            <span class="small">{{ member.name }}</span>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}

{% block bottom-link %}
    <a href="{% url 'home' %}"><div class="back-link">Back to Home</div></a>
{% endblock %}
