{% extends "main/layout.html" %}
{% load gopala_tags %}

{% block content %}
    <div class="article-title">Blood Groups</div>
    <table id="blood_table" cellspacing="10">
        {% for key in keys %}
            {% for group, members in groups.items %}
                {% if key == group %}
                    <tr><td class="blood-td bold" colspan="2">{{group}}</td></tr>
                    {% for member in members.0|dictsort:'nick_name' %}
                        <tr class={{members.2}}>
                            <td class="blood-td center" style="text-align:center;">
                                 <img src="/media/{{ member.icon }}"><br>
                                {{ member.nick_name }}<br>
                                <div class="role">{{member.name}}</div>
                            </td>
                            <td class="blood-td">
                                {{ member.contact_number }}
                                {% if member.email %}
                                    <div class="email">{{ member.email }}</div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </table>
    {% blood_graph %}
    {{ graph|safe }}
{% endblock %}

{% block bottom-link %}
    <a href="{% url 'home' %}"><div class="back-link">Back to Home</div></a>
{% endblock %}
