{% extends "main/layout.html" %}

{% block content %}
    {% for root, members in family.items %}
        <div class="article-title">Family</div>
        <table id="family" cellspacing="10">
            <tr>
                <td>
                    {{ root.name }}<br>

                    {{ root.date_of_birth|date:"d-m-Y" }}
                    {% if root.blood_group %} {{ root.blood_group }} {% endif %}
                    <br>
                    {{ root.malayalam_star }} {{ root.malayalam_month }} <br>

                    {{ root.contact_number }}<br>
                    {{ root.email }}<br>
                    {{ root.address|safe }}<br>

                    {{ root.job }}<br>
                    {{ root.official_address|safe }}<br>
                </td>
            </tr>
            <tr>
                <td>
                    {% with root.spouse as spouse %}
                        {% if spouse %}
                            {{ spouse.name }}<br>
        
                            {{ spouse.date_of_birth|date:"d-m-Y" }}
                            {% if spouse.blood_group %} {{ spouse.blood_group }} {% endif %}
                            <br>
                            {{ spouse.malayalam_star }} {{ spouse.malayalam_month }} <br>
        
                            {{ spouse.contact_number }}<br>
                            {{ spouse.email }}<br>
                            {{ spouse.address|safe }}
        
                            {{ spouse.job }}<br>
                            {{ spouse.official_address|safe }}<br>
                        {% endif %}
                    {% endwith %}
                </td>
            </tr>
            {% for member in members %}
                <tr>
                    <td>
                        {{ member.name }}<br>
    
                        {{ member.date_of_birth|date:"d-m-Y" }}
                        {% if member.blood_group %} {{ member.blood_group }} {% endif %}
                        <br>
                        {{ member.malayalam_star }} {{ member.malayalam_month }} <br>
    
                        {{ member.contact_number }}<br>
                        {{ member.email }}<br>
                        {{ member.address|safe }}
    
                        {{ member.job }}<br>
                        {{ member.official_address|safe }}<br>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
{% endblock %}

{% block bottom-link %}
    <a href="{% url 'home' %}"><div class="back-link">Back to Home</div></a>
{% endblock %}
