{% if member.picture  %}
    <img id="member_image" src="{{ member.picture.url }}" style="width:100px; display:none;">
{% endif %}
<div>{{ member.name }}</div>

<div class="other-details">
    <table>
        {% if member.job %}
            <tr>
                <td>Occupation</td>
                <td class="bold">{{ member.job }}</td>
            </tr>
        {% endif %}
        {% if member.date_of_birth %}
            <tr>
                <td>Born on</td>
                <td class="bold">{{ member.date_of_birth|date:"F j, Y (l)" }}</td>
            </tr>
        {% endif %}
        {% if member.birth_star or member.birth_month %}
            <tr>
                <td>പിറന്നാൾ</td>
                <td class="bold">
                    {% if member.birth_star %}{{ member.malayalam_star }}{% endif %}
                    {% if member.birth_month %} ({{ member.malayalam_month }}){% endif %}
                </td>
            </div>
        {% endif %}
        {% if member.contact_number %}
            <tr>
                <td>Contact Number</td>
                <td class="bold">{{ member.contact_number }}</td>
            </tr>
        {% endif %}
        {% if member.email %}
            <tr>
                <td>Email</td>
                <td class="bold">{{ member.email }}</td>
            </tr>
        {% endif %}
        {% if member.address %}
            <tr>
                <td>Address</td>
                <td class="bold">{{ member.address|safe }}</td>
            </tr>
        {% endif %}
        {% if member.official_address %}
            <tr>
                <td>Office</td>
                <td class="bold">{{ member.official_address|safe }}</td>
            </tr>
        {% endif %}
        {% if member.blood_group %}
            <tr>
                <td>Blood Group</td>
                <td class="bold">{{ member.blood_group }}</td>
            </tr>
        {% endif %}
        {% with member.children as children %}
            {% if children %}
                <tr>
                    <td>Children</td>
                    <td class="bold">
                        {% for c in children %}
                            {{ c.name }}<br>
                        {% endfor %}
                    </td>
                </tr>
                {% if member.parent %}
                    <tr>
                        <td></td>
                        <td class="bold">
                            <a href="{% url 'family' member.id %}" target="_blank">Family >></a>
                        </td>
                    </tr>
                {% endif %}
            {% endif %}
        {% endwith %}

    </table>
</div>

