<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <style type="text/css">
            body { font-family: "arial"; font-size: 12px; }
            th { text-align: left; font-weight: bold; padding: 5px; border: 1px solid #ddd;}
            td { text-align: left; padding: 5px; vertical-align: top; border: 1px solid #ddd;}
            table { border-collapse: collapse; width: 100%;}
            p {margin: 0; padding: 0;}
            @font-face {
                font-family: kerala;
                src: url("/home/jith/code/gopala/family/templates/family/Meera-Regular.ttf");
            }
            .malayalam { font-family: "kerala"; }
        </style>
    </head>
    <body>
        <table cellspacing="0">
            <tr>
                <th width="2%"></th>
                <th width="13%">Name</th>
                <th width="5%">Blood</th>
                <th width="15%">Birth</th>
                <th width="10%">Phone</th>
                <th width="18%">Email</th>
                <th width="17%">Address</th>
                <th width="10%">Occupation</th>
                <th width="10%">Institution</th>
            </tr>
            {% for member in members %}
                <tr>
                    <td>
                        {{ forloop.counter }}
                    </td>
                    <td>
                        {{ member.name }}<br>
                        ({{ member.nick_name }})
                    </td>
                    <td>{% if member.blood_group %}{{ member.blood_group }}{% endif %}</td>
                    <td>
                        {% if member.date_of_birth %}
                            {{ member.date_of_birth|date:"j F Y l" }}<br>
                        {% endif %}
                        <span class="malayalam">
                            {% if member.birth_star %} {{ member.malayalam_star }}{% endif %}
                            {% if member.birth_month %} ({{ member.malayalam_month }}) {% endif %}
                        </span>
                    </td>
                    <td>{{ member.contact_number }}</td>
                    <td>{{ member.email }}</td>
                    <td>{{ member.address|safe }}</td>
                    <td>{{ member.job }}</td>
                    <td>{{ member.official_address|safe }}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>
