{% extends "main/layout.html" %}

{% block exatrahead %}
    <script type="text/javascript" src="/static/scripts/members.js"></script>
{% endblock %}

{% block content %}
    <div class="article-title">Members</div>
    
    <div class="alpha">
        {% for letter in letters %}
            <span id={{letter}} class="alpha-link">{{letter|upper}}</span>
        {% endfor %}
        <span class="alpha-link">All</span>
    </div>

    <div class="center small">
        <a href="{% url 'blood_groups' %}"><span class="link">Blood Groups</span></a> |
        <a href="{% url 'members-list' %}" target="_blank"><span class="link">Printable List</span></a>
    </div>

    <table id="members" cellspacing="10">
        {% for member in members %}
            <tr>
                <td class="con-td center" style="text-align:center;">
                    <input class="keys1" type="hidden" value="{{member.nick_name|lower}}">
                    <input class="keys2" type="hidden" value="{{member.name|lower}}">
                    <img src="/media/{{ member.icon }}"><br>
                    {{ member.nick_name }}<br>
                    <div class="role">{{member.name}}</div>
                    {% if member.role %}
                        <div class="role">({{ member.role }} GVKY)</div>
                    {% endif %}
                </td>
                <td class="con-td">
                    {% if member.contact_number %}
                        <div class="address">{{ member.contact_number }}</div>
                    {% endif %}
                    
                    {% if member.email %}
                        <div class="address">{{ member.email }}</div>
                    {% endif %}
                    {% if member.blood_group %}
                        <div class="address">Blood Group: {{ member.blood_group }}</div>
                    {% endif %}
                    {% if member.address %}
                        <div class="address">{{ member.address|safe }}</div>
                    {% endif %}
                    {% if member.job %}
                        <div class="address">{{ member.job }}</div>
                    {% endif %}
                    {% if member.official_address %}
                        <div class="address">{{ member.official_address|safe }}</div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block bottom-link %}
    <a href="{% url 'home' %}"><div class="back-link">Back to Home</div></a>
{% endblock %}

