{% extends "main/layout.html" %}

{% block content %}
    <div class="page-title">Messages</div>
    {% for message in messages %}
        <div class="message-box small">
            <div class="tiny floatrt">{{ message.published_date|date:"d-m-Y" }}</div>
            <div class="bold small">
                {{ message.subject|title }}

            </div>

            <div class="small">{{ message.body|safe }}</div>
            {% if message.name %}
                <hr>
                <div class="right small">
                    {{ message.name|title }} <br>

                </div>
            {% endif %}
            {% if message.reply %}
                <span class="small">{{ message.reply|safe }}</span>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}

{% block bottom-link %}
    <a href="/"><div class="back-link">Back to Home</div></a>
{% endblock %}