{% extends "main/layout.html" %}

{% block content %}
    <div class="article-title">{{ newsitem.title }}</div>
    <div class="newsbox">
        <p class="newsbody">
            {% if newsitem.picture %}
                <img src="{{ newsitem.picture.url }}" width="200px" alt="{{ newsitem.picture.url }}"/><br>
            {% endif %}
            {{ newsitem.body|safe }}
        </p>
    </div>

{% endblock %}

{% block bottom-link %}
    <a href="{% url 'news-list' %}"><div class="back-link">Back to List</div></a>
{% endblock %}