{% extends "main/layout.html" %}

{% block exatrahead %}
    <script type="text/javascript" src='/static/scripts/jquery-ui.min.js'></script>
    <link type="text/css" href="/static/scripts/jquery-ui.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="/static/scripts/news_list.js"></script>
    <script type="text/javascript" src="/static/scripts/name_search.js"></script>
{% endblock %}

{% block content %}
    <div class="page-title">News</div>
    <div id="add_row" {% if error %} style="display:none;" {% endif %}>
        <span id="add_button">Add News</span>
        <span>{{message}}</span>
    </div>
    <div {% if not error %} style="display:none;" {% endif %} id="add_form">
        <form method="post" enctype="multipart/form-data" action=".">
            {% csrf_token %}
            <table class="small full">
                <tr>
                    <th>Add News</th>
                    <td class="right"><span id="add_close">Close</span></td>
                </tr>
                {{form.as_table}}
                <tr>
                    <td></td>
                    <td class="right"><input type="submit" value="Save"></td>
                </tr>
            </table>
        </form>
    </div>
    {% for news in news_list %}
        <a href="{% url 'news' news.id %}">
            <div class="news-list-item">{{ news.title }}</div>
        </a>
    {% endfor %}
    <div id="popup">
        <div id="popup_body"></div>
    </div>
{% endblock %}

{% block bottom-link %}
    <a href="/"><div class="back-link">Back to Home</div></a>
{% endblock %}
