{% extends "main/layout.html" %}

{% block exatrahead %}
    <script type="text/javascript" src="/static/scripts/photos1.js"></script>
{% endblock %}

{% block content %}
    <div class="newsbox">
        <div class="article-title">{{ article.title }}</div>
        {% if photo.caption %}
            <div class="photo-caption">{{ photo.caption }}</div>
        {% endif %}
        {% if photo.picture %}
            <img id="id_image" alt="{{photo.picture.url}}" src="{{photo.picture.url}}" width="80%">
        {% endif %}
        <div class="prev-next">
            <span class="floatlt scrollbutton" id="left_photo"> ❮ </span>
            <span class="small">Photo-<span id="counter">1</span> of {{photos|length}} photos</span>
            <span class="floatrt scrollbutton" id="right_photo"> ❯ </span>
        </div>
    </div>

    <input type="hidden" value="{{photo.id}}" id="current_photo"/>

    {% for ph in photos %}
        {% if forloop.last %}
            <input type="hidden" title="forloo.counter" value="{{ph.id}}" id="last_id"/>
        {% endif %}
    {% endfor %}

    <div>
        {% for ph in photos %}
            <input type="hidden" title="{{forloop.counter}}" value="/media/{{ph.picture}}" id="{{ph.id}}"/>
        {% endfor %}
        <input type="hidden" value="/media/{{photo.picture}}" title="1" id="{{photo.id}}"/>
    </div>

{% endblock %}

{% block bottom-link %}
    {% if article.home_page %}
        <a href="/"><div class="back-link">Back to Home</div></a>
    {% else %}
        <a href="{% url 'articles' %}"><div class="back-link">Back to Articles</div></a>
    {% endif %}
{% endblock %}
