{% extends "main/layout.html" %}
{% load gopala_tags %}

{% block exatrahead %}
    <script type="text/javascript" src="/static/scripts/tree1.js"></script>
{% endblock %}

{% block content %}
    <div class="page-title">Our Family Tree</div>
    Touch a box to view member details.

    {{tree|safe}}

    <div id="popup">
        <div id="popup_title"><span id="popup_title_text"></span> <div id="popup_close"> &nbsp; X &nbsp; </div></div>
        <div id="popup_body"></div>
    </div>

    <div id="photo_popup">
        <div id="photo_popup_title"><span id="popup_title_text"></span> <div id="photo_popup_close"> &nbsp; X &nbsp; </div></div>
        <div id="photo_popup_body">
            <img id="photo_popup_image" src="">
        </div>
    </div>

    <a href="{% url 'blood_groups' %}"><div class="back-link">Blood Groups</div></a>
{% endblock %}

{% block bottom-link %}
    <a href="/"><div class="back-link">Back to Home</div></a>
{% endblock %}
