{% extends "admin/base.html" %}

{% block title %}Gopalavilasam{% endblock %}

{% block branding %}
    <h1 id="site-name" style="font-weight: bold; color: #fff;">
        <a href="{% url 'admin:index' %}" style="font-weight: bold; color: #fff;">Gopalavilasam Admin</a>
    </h1>

{% endblock %}

{% block nav-global %}{% endblock %}
