{% extends "main/layout.html" %}

{% block content %}
    <div class="home-para">
        <table>
            <tr>
                <td class="welcome-img">
                    <img src="/static/images/logo5.png">
                </td>
            </tr>
        </table>
    </div>
    <div id="home_menu">
        <a href="{% url 'tree' %}">
            <div class="home-menu-item">Tree</div>
        </a>
        <a href="{% url 'members' %}">
            <div class="home-menu-item">Members</div>
        </a>

        <div style="clear:both;"></div>

        <a href="{% url 'births' 'init' %}">
            <div class="home-menu-item">Birthdays</div>
        </a>

        <div style="clear:both;"></div>

        <a href="{% url 'news-list' %}">
            <div class="home-menu-item">News</div>
        </a>
        <a href="{% url 'articles' %}">
            <div class="home-menu-item">Articles</div>
        </a>

        <div style="clear:both;"></div>
        
        {% for article in articles %}
            <a href="{% url 'article' article.id %}">
                <div class="home-menu-item">{{ article.title }}</div>
            </a>
        {% endfor %}

        <div style="clear:both;"></div>
    </div>
{% endblock %}

{% block bottom-link  %}
    {% if members|length %}
        <div class="birthday">
            Wishing happy birthday to
            {% for member in members %}
                 {{member.nick_name}}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

