<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3mobile.css" -->
        <link href="/static/styles/w3css.css" rel="stylesheet" type="text/css"/>
        <link href="/static/styles/styles.css" rel="stylesheet" type="text/css"/>
        <link href="/static/images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
        <script type="text/javascript" src="/static/scripts/jquery.js"></script>
        <script type="text/javascript" src="/static/scripts/util.js"></script>
        {% block exatrahead %}{% endblock %}
        <title>GVKY</title>
    </head>
    <body>
        <a href="/">
            <div id="header"></div>
        </a>

        <div id="container">
            <div id="content">
                {% block content%}{% endblock %}
            </div>
        </div>

        <div id="base">
            <img src="/static/images/base-left.png" style="float:left;">
            <img src="/static/images/base-right.png" style="float:right;">
            {% block bottom-link %}{% endblock %}
        </div>

        <div style="clear:both;"></div>

        <div id="footer">
            {% block footer%}
                <div class="footerdiv">
                    {% if user.is_authenticated %}
                        <a href="/accounts/logout/?next=/" class="link bold">Logout</a>
                    {% else %}
                        <a href="/accounts/login/?next=/" class="link bold">Login</a>
                    {% endif %}
                        &#9900; <a href="{% url 'about' %}" class="link bold">Help</a>
                        &#9900; <a href="{% url 'feedback' %}" class="link bold">Feedback</a>
                        &#9900; <a href="{% url 'messages' %}" class="link bold">Messages</a>
                </div>
            {% endblock %}
            <br><br>
        </div>
        <div id="loader" style="display:none;"><img style="width:50px;" src="/static/images/grey.gif"></div>
    </body>
</html>

